@import "../shared/helper";

.home{
    flex:1;
    display: flex;
    flex-direction: column;
    color: white;
    > header{
        height: px(98);
        background-size: cover;  // 使图片全部显示
        width: px(2420);
    }
    > footer{
        height: px(50);
        margin-top: px(20);
        font-size: px(23);
        text-align: center;
    }
    > main{
        flex: 1;  
        display: grid;  //表格布局
        padding-top: px(30);
        grid-template:
        "box1 box2 box4 box5" 755fr  // px()用fr代替
        "box3 box3 box4 box5" 363fr / 366fr 361fr 811fr 747fr;  // 设置上下两部分表格的高度
        grid-column-gap: px(28);  // 设置间隙
        grid-row-gap: px(28);
        > section{
            text-align: center;  // 给父元素section设置,会使子元素h2居中对齐
        }
        .bordered{
            border: 1px solid #0764bc;
            border-radius: 4px;
            position: relative;
            background: #0c1139;
            // 蓝色边框里面再放一个边框
            &::before{
                content:'';
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                top: 0;
                border: 0;
                border-radius: 4px;
                //border: 1px solid red;
                box-shadow: 
                21px 0 0 -20px #0f3361,
                -21px 0 0 -20px #0f3361,
                0 21px 0 -20px #0f3361,
                0 -21px 0 -20px #0f3361,
                11px 0 0 -10px #0d4483,
                -11px 0 0 -10px #0d4483,
                0 11px 0 -10px #0d4483,
                0 -11px 0 -10px #0d4483;
            }
            & .legend{
                position: absolute;
                top: px(80);
                left: px(20);
                border-radius: 0;
                font-size: px(20);
                height: px(70);
                line-height: px(70);
                width: px(300);
                > .icon{
                    height: px(1);
                    width: px(10);
                    // border: 1px red solid;
                    border-radius: 50%;
                }
            }
        }
        .管辖统计,.发案趋势,.案发时段,.战果对比,.籍贯,.年龄段,.作案手段,.案发类型,.案发街道{
            height: px(315);
            display: flex;
            flex-direction: column;
            align-items: center;
            h2{
                flex-shrink: 0;
                border: 1px solid #0a5299;
                border-bottom-left-radius: 4px;
                border-bottom-right-radius: 4px;
                font-size: px(22);
                line-height: px(22);
                padding: px(10) px(28);
                text-shadow: 0 0 px(3) white;
            }
            .chart{
                flex: 1;
                width: 100%;
            }
        }
        .战果对比,.作案手段{
            > table {
                font-size: px(5);
                margin-top: px(40);
                border-collapse: collapse;
                th, td {
                  border: 1px solid #1a3671;
                }
                thead {
                  th {
                    font-size: px(20);
                    height: px(7);
                    box-shadow: inset 0 0 px(60) 0 #1f3d85;
                  }
                }
                tbody {
                  td {
                    font-size: px(15);
                    height: px(16); 
                    width: px(84);
                    background: #1c2456;
                  }
                }
            }
        }
        .作案手段{
            height: px(450);
            margin-top: px(20);
            > table {
                margin-top: px(20);
                tbody {
                  td {
                    font-size: px(1);
                    height:px(8); 
                    width: px(184);
                  }
                }
            }
        }
        .案发类型{
            height: px(373);
            .类型元素{
                flex-direction: row;
                > .charts {
                  width: 100%;
                  flex: 1; 
                  padding: px(30);
                }
            }
            &-图1, &-图2{
                flex: 1;
                display: inline-block;
                // border: 1px red solid;
                height: px(310);
                width: px(370);
                .legend {
                    height: px(50); 
                    display: flex; 
                    align-items: center;
                    justify-content: center;
                }
                .chart {
                  position: relative;
                  display: flex;
                  height: 100%;
                  > .main {flex: 1;}
                  > .text {
                    position: absolute;
                    top: 34%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    color: #33a4fa;
                    font-size: px(40);
                    text-shadow: 0 0 px(20) #33a4fa;
                    font-weight: bold;
                    }
                }
            }
        }
        .案发街道 {
            margin-top: px(20);
            height: px(373);
            .街道元素{
                flex-direction: row;
                > .charts {
                  width: 100%;
                  flex: 1; 
                  padding: px(30);
                }
            }
            &-图1, &-图2{
                flex: 1;
                display: inline-block;
                // border: 1px red solid;
                height: px(315);
                width: px(370);
                .legend {
                    height: px(50); 
                    display: flex; 
                    align-items: center;
                    justify-content: center;
                }
                .chart {
                  position: relative;
                  display: flex;
                  height: 100%;
                  > .main {flex: 1;}
                  > .text {
                    position: absolute;
                    top: 34%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    color: #33a4fa;
                    font-size: px(40);
                    text-shadow: 0 0 px(20) #33a4fa;
                    font-weight: bold;
                    }
                }
            }
        }
        .年龄段 {
            margin-top: px(23);
            height: px(389);
            .年龄元素{
                flex-direction: row;
                > .charts {
                  width: 100%;
                  flex: 1; 
                  padding: px(30);
                }
            }
            &-图1, &-图2, &-图3 {
                flex: 1;
                display: inline-block;
                // border: 1px red solid;
                height: px(330);
                width: px(270);
                .legend {
                    height: px(50); 
                    display: flex; 
                    align-items: center;
                    justify-content: center;
                }
                h3{
                    font-size: px(20);
                    color: #7ab6db; ;
                }
                .chart {
                  position: relative;
                  display: flex;
                  height: 100%;
                  > .main {flex: 1;}
                  > .text {
                    position: absolute;
                    top: 34%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    color: #33a4fa;
                    font-size: px(40);
                    text-shadow: 0 0 px(20) #33a4fa;
                    font-weight: bold;
                    }
                }
            }
            &-图3{
                border: #08397d 1px solid;
            }
        }
        .籍贯{
            height: px(753); background: transparent;
            > .wrapper {
              position: relative;
              width: 100%;
              flex: 1;
              display: flex; 
              flex-direction: column;
              .chart {flex: 1;}
              .legend {
                width: px(330);
                position: absolute;
                top: px(40);
                left: px(20);
                display: flex;
                align-items: center;
                font-size: px(22); 
                padding: px(20) px(10) px(20) 0;
                border-radius: 0;
                .icon {
                  margin: 0 px(10);
                  display: inline-block;
                  width: px(16);
                  height: px(16);
                  border-radius: 50%;
                  background: #1cecd9;
                }
              }
              .notes{
                position: absolute;
                bottom: px(0);
                right: px(5);
                font-size: px(5);
              }
            }
        }
        > .section1{
            grid-area: box1;
            // background: pink;
        }
        > .section2{
            grid-area: box2;
            // background: lightgrey;
        }
        > .section3{
            grid-area: box3;
            // background: light#0d4483;
        }
        > .section4{
            grid-area: box4;
            // background: lightsteel#0d4483;
        }
        > .section5{
            grid-area: box5;
            // background: lightyellow;
        }     
        .chart2{
            margin-top: px(20);
            height: px(478);
        }
        .chart3{
            height: px(400);
        }
        .chart4{
            margin-top: px(15);
            height:px(400)
        }
        .chart5{
            height:px(390)
        }
        .chart6{
            height:px(820);
            background: #00020b;
        }
    }
}